.table__items {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  font-size: 18px;
  text-align: left;
}

.table__items:hover {
  cursor: pointer;
  font-weight: bold;
}

.table__items:nth-child(2n) {
  background-color: #ecebeb;
}

.table__autor {
  grid-column-start: 0;
  grid-column-end: 2;
}

.table__text {
  grid-column-start: 2;
  grid-column-end: 10;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.table__date {
  grid-column-start: 10;
  grid-column-end: 11;
  text-align: right;
}
